extends layout
block head
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div#content
		h1 While this...

		div#links
			div#blog
				a(href='/blog')= '...blog'
			div#github
				a(href='http://github.com/awanrky')= '...code'
			div#twitter
				a(href='http://twitter.com/awanrky')= '...hang out on Twitter'
			div#big-bluff
				a(href='/BigBluff')= '...visit Big Bluff'
			div#domo-garden
				a(href='http://www.domogarden.com')= '...remember Domo Garden'

		div#picture
			img(src='https://s3.amazonaws.com/mark-ott-info/images/lemond-by-picnic-table.jpg')


