extends layout

block content
  div#wordpress-blog
    a(href='http://mark-ott.info/blog/')= 'Old Wordpress Blog'
  div#facebook
    a(href='http://www.facebook.com/people/Mark-Ott/1518440299')= 'Facebook'
  div#big-bluff
    a(href='/BigBluff')= 'Big Bluff'
  div#domo-garden
    a(href='http://www.domogarden.com')= 'Domo Garden'
  div#twitter
    a(href='http://twitter.com/awanrky')= 'Twitter'
  div#picture
    img(src='images/Photo0251_800w.jpg')


