!!!
html
	head
		title= 'while (this) { blog(); }'
		meta(charset='utf-8')
		link(rel='stylesheet', href='/external/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/external/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/site.css')
		link(rel='stylesheet', href='/stylesheets/blog/blog.css')
	body
		include ../navbar
		.container-fluid
			.row-fluid
				.posts.span9
					block content
				.sidebar.span3
					.well.sidebar-nav
						ul.nav.nav-list
							li.nav-header categories
							- each cat in categoryList
								li
									a(href=categoryUrl(cat)) #{cat}
							li.nav-header tags
							- each tag in tagList
								li
									a(href=tagUrl(tag)) #{tag}
		script(src="/external/jquery/jquery-1.10.1.min.js")
		script(src="/external/bootstrap/js/bootstrap.js")