extends layout

block content
	div.post
		h1
			a(href=post.url)
				= post.title
		div.post.content
			!= post.content
		span.date #{post.date.getFullYear()}-#{post.date.getMonth()+1}-#{post.date.getDate()}
		div.tags
			- each tag in post.tags
				a(href=tagUrl(tag))
					span.label.label-info #{tag}